name: Test Action

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test-action:
    runs-on: ubuntu-latest
    name: Test read-only-friday action
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'

      - name: Install dependencies
        run: npm install

      - name: Build action
        run: npm run package

      - name: Run action
        uses: ./
        id: read-only-friday
